/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #262C27;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header "start" */

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    background-image: url(../image/header_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    position: relative;
    margin-bottom: 80px;
}

header::before {
    content: "";
    position: absolute;
    background-image: url(../image/header-decore.svg);
    bottom: 0;
    left: 0;
    right: 0;
    height: 456px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(35%);
    z-index: 2;
}

header::after {
    content: "";
    position: absolute;
    background-image: url(../image/header-decore.svg);
    bottom: 0;
    left: 0;
    right: 0;
    height: 456px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(75%) rotate(180deg);
    z-index: 3;
}

.header__top {
    display: flex;
    align-items: center;
    padding: 57px 0;
    gap: 100px;
    justify-content: flex-end;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}

.logo path {
    transition: fill .4s ease;
}

.logo:hover path {
    fill: #0093A1;
}

.header__btn {
    text-transform: uppercase;
    color: #fff;
    padding: 12px 71px;
    background-color: #262C27;
    cursor: pointer;
}

.header__content {
    min-height: calc(100vh - 161px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.header__content-box {
    max-width: 550px;
    text-align: center;
    margin-right: 30px;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

.header__title {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 64px;
    line-height: 71px;
}

.header__text {
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 20px;
}

.header__decore-text {
    position: absolute;
    bottom: 25px;
    color: #0093A1;
}

.header__decore-text--1 {
    z-index: 1;
    right: 145px;
    bottom: 120px;
}

.header__decore-text--1,
.header__decore-text--2 {
    font-family: 'Comfortaa', cursive;
    font-size: 130px;
    line-height: 145px;
    opacity: 0.3;
}

.header__decore-text--2 {
    z-index: 4;
    left: 265px;
}

.header__decore-text--3 {
    max-width: 360px;
    right: 145px;
    z-index: 4;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}

/* header "end" */
/* main "start"  */

/* main first part */

.info {
    background-image: url(../image/info-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.info::before {
    content: "";
    position: absolute;
    height: 180px;
    background-color: #262C27;
    top: 0px;
    left: 0px;
    right: 0px;
    transform: translateY(-120px);
    z-index: 1;
}

.info__top {
    display: flex;
    gap: 80px;
    margin-bottom: 65vh;
    padding-top: 100px;
}

.info__top-text {
    padding-top: 245px;
    width: 290px;
    color: #fff;
    position: relative;
}

.info__top-text--two {
    table-layout: 125px;
}

.info__top-text--two {
    border-bottom: 1px solid #fff;
}

.info__top-img {
    position: relative;
    z-index: 6;
}

.popup_btn {
    text-align: center;
    cursor: pointer;
    background-color: transparent;
}

.popup_btn span {
    padding-top: 12px;
    display: block;
    color: #fff;
}

.info__btn {
    position: absolute;
    bottom: 0;
    right: 0;
}

.info__specs {
    display: flex;
    align-items: center;
    gap: 130px;
    color: #fff;
    padding-top: 50px;
}

.info__specs-title {
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 67px;
    width: 250px;
}

.info__specs-list {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 30px 0;
    width: 565px;
    font-weight: 700;

}

.info__specs-item {
    margin-bottom: 25px;
    display: flex;
    gap: 25px;

}

.info__specs-caption {
    width: 185px;

}

/* main second part */

.buy {
    padding: 150px 0;
}

.buy__inner {
    display: flex;
    align-items: center;
    gap: 90px;
}

.buy__content {
    position: relative;
    width: 510px;
}

.buy__title {
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 60px;
    line-height: 67px;
    color: #0093A1;
}

.buy__list {
    margin-bottom: 25px;
}

.buy__item {
    margin-bottom: 25px;
    width: 285px;
}

.buy__item:hover .buy__item-title {
    color: #0093A1;
}

.buy__item-title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    transition: color .3s;
}

.buy__price {
    position: absolute;
    right: 0;
    bottom: 130px;
    width: 201px;
    height: 199px;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    color: #262C27;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../image/Star.svg);
}

.buy__price:hover{
    transform: scale(1.2);
}

.buy__btn {
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    background-color: transparent;
    border: 2px solid #0093A1;
    color: #0093A1;
    cursor: pointer;
    padding: 18px;
    text-align: center;
    max-width: 484px;
    width: 100%;
    transition: all .3s;
}

.buy__btn:hover {
    color:#262C27;
    border-color: #B9C400;
    background-color: #B9C400;
}

/* main third part */